.questionSize
{ 
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    padding: 0;
    line-height: 1;
}

.question {
  font-size:1em;
}

.questionNumber
{
    font-size:1.5em;
    margin-left: 3px;
}